@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

/*------------------------------*/
body {
  font-family: Spartan;
  font-weight: regular;
  font-size: 1.125rem;
  font-weight: 400;
  color: #FFF;
  background: #263238;
  line-height: 177%;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  transition: all 0.3s;
  height: 3.125rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding-top: 2.1875rem;
  padding-bottom: 0.625rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}
.header__content ul {
  display: flex;
  gap: 0.875rem;
}
.header__content .header__features {
  display: flex;
  gap: 0.625rem;
}
.header__content .header__logo {
  font-family: Lato;
  font-size: 2.25rem;
  font-weight: 500;
  padding-right: 3.75rem;
}
.header__content .button--dark {
  background-color: #263238;
  transition: all 0.3s;
  border: 0.0625rem solid #FFF;
  opacity: 1;
}
.header__content .button--dark:hover {
  opacity: 0.4;
}

@media (max-width: 64rem) {
  body {
    background-color: black;
  }
  .header__content {
    min-height: 1.625rem;
  }
  .header__content .button {
    width: 6.25rem;
  }
  .header__content .header__logo {
    font-size: 2rem;
    padding-right: 26px;
  }
}
@media (min-width: 48rem) {
  .header__burger {
    display: none;
  }
}
@media (max-width: 48rem) {
  body {
    background-color: #263238;
  }
  .header__content .header__logo {
    padding-right: 0;
  }
  .header__body {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 2.25rem;
    height: 1.25rem;
    cursor: pointer;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white;
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
@media (max-width: 30rem) {
  body {
    background-color: black;
  }
}
.active {
  /*
  .header__logo,
  .header__burger{
    position: absolute;
    top: 5%;
  }
  .header__burger{
    right: 7.8125%;
  }

  .header__body{
    display: flex;
    flex-direction: row;

    & ul{
      display: grid;
      position: absolute;
      width: 100%;
      left: 7.8125%; 
      top: 15%;
      & li {
        font-size: 1.875rem;
      }
    }
    & a{
      cursor: pointer;
    }


  }
  .header__features{
    display: none;
  }
  */
}
.active .header__body {
  display: block;
}
.active .header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}
.active ul {
  display: grid;
  position: absolute;
  width: 100%;
  left: 7.8125%;
  top: 15%;
}
.active ul li {
  font-size: 1.875rem;
}
.active .header__features {
  display: none;
}
.active .header__logo {
  z-index: 10;
}

.text {
  opacity: 0.8;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1540px;
  padding-left: 13.020833%; /* 250/1920 */
  padding-right: 13.020833%;
  margin: 0 auto;
}

.title {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: normal;
}

.title-green {
  color: #23B123;
}

.button {
  background-color: #23B123;
  display: flex;
  border-radius: 0.625rem;
  width: 8.75rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.125rem;
  font-family: Lato;
  opacity: 1;
  transition: all 0.3s;
}
.button:hover {
  opacity: 0.7;
}

.first-section {
  padding-top: 9.375rem;
  align-items: center;
}

.first-section__content {
  display: grid;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.first-section__title {
  font-family: Spartan;
  text-align: center;
  width: 60%;
  line-height: normal;
  margin: 0 auto;
}

.first-section__text {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.first-section__input {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  height: 4.375rem;
  width: 25rem;
  position: relative;
}

.input__input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.input__button {
  top: 12.5%;
  right: 0.3125rem;
  position: absolute;
  z-index: 1;
  height: 54px;
}

.input__label {
  position: absolute;
  color: black;
  z-index: 1;
  left: 0.75rem;
  top: 25%;
}
.input__label.hidden {
  display: none;
}

.logos {
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 120px;
}
.logos img {
  padding-bottom: 5%;
  padding-right: 1%;
  padding-left: 1%;
}

.second-section__content {
  display: grid;
  grid-template-columns: 1fr 60%;
  gap: 4rem;
}
.second-section__content img {
  width: 80%;
}

.second-section__left-side {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.details__section {
  display: grid;
  grid-template-columns: 1fr 71.020408%; /* 348/490 */
  gap: 2rem;
}
.details__section:not(:last-child) {
  padding-bottom: 3rem;
}

.details__title {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.second-section__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 81.5rem) {
  .second-section__left-side {
    display: grid;
    grid-template-columns: 40% 1fr;
  }
  .second-section__content {
    display: flex;
    flex-direction: column;
  }
  .second-section__image {
    display: block;
  }
  .second-section__text {
    font-size: 20px;
  }
  .second-section__details {
    padding-top: 250px;
    position: absolute;
    -moz-columns: 2;
         columns: 2;
  }
  .second-section__image {
    padding-top: 500px;
  }
  .details__content,
  .details__title {
    width: 50%;
  }
}
@media (max-width: 793px) {
  .second-section__image {
    padding-top: 620px;
  }
  [class*=__container] {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media (max-width: 650px) {
  .details__section img {
    display: none;
  }
  .details__section {
    display: flex;
  }
  .details__content,
  .details__title {
    width: 95%;
  }
  .second-section__image {
    padding-top: 400px;
  }
  .details__right-side {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=general.css.map */